<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style-switcher.css">
    <link rel="stylesheet" href="css/style.css">
    <!--CSS style switcher-->
    <link rel="stylesheet" href="css/theme/bleu.css" class="alternate-style" title="bleu" enable>
    <link rel="stylesheet" href="css/theme/emit.css" class="alternate-style" title="emit" disabled>
    <link rel="stylesheet" href="css/theme/orange.css" class="alternate-style" title="orange" disabled>
    <link rel="stylesheet" href="css/theme/rose.css" class="alternate-style" title="rose" disabled>
    <link rel="stylesheet" href="css/theme/rouge.css" class="alternate-style" title="rouge" disabled>
    <link rel="stylesheet" href="css/theme/vert.css" class="alternate-style" title="vert" disabled>
    <script src="js/app.js" defer></script>
    <script src="js/scriptswitcher.js" defer></script>
    <title>Document</title>
</head>

<body >               
</body>